{% extends "base.html" %}
  {% block content %}
    <main>
      <h1>Connexion</h1>

      <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" value="{{ default_email }}" autocomplete="username" required autofocus>

        <label for="password">Mot de passe</label>
        <input id="password" name="password" type="password" autocomplete="current-password" required>

        <button type="submit">Se connecter</button>
      </form>

      {% if error %}
        <div class="error">{{ error }}</div>
      {% endif %}
    </main>
  {% endblock %}
